/* #2BC859
#FEC005 */

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */

.button__nav{
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.body{
  background-color: white;
  color: black;
  padding: 10px 20px;
  width: 15vw;
}

.botto__icon__message{
  margin-top: 20px;
  font-weight: 900;
  white-space: nowrap;
  color: #FEC005 !important;
}

.category{
  padding-left: 0;
}

button.list, button.list__2{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.list__2{
  color: white;
}

button.list:hover{
  color: #32C569;
}

button.list__2:hover{
  color: #32C569 !important;
}

.category, .category__2__ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 10vh 0;
}

.category li, .category__2__ul li{
  margin: 2vh 0;
  font-weight: 100;
}

.category li{
  opacity: 0.5;
}

.body h1{
  margin-top: 10px;
}

.menu{
  display: none;
}

.category__2{
  display: none;
}

@media (max-width: 720px) {
  .body{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
  }

  .category__1{
    display: none;
  }

  .icon__and__message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .botto__icon__message{
    margin: 0;
  }

  .menu{
    display: block;
    position: absolute;
    left: 30px;
  }

  .menu__2{
    position: absolute;
    left: 10px;
    top: 12px;
  }

  .category__2{
    display: block;
    position: fixed;
    left: -3000px;
    width: 40vw;
    height: 100%;
    top: 0;
    z-index: 100;
    transition: 1.5s;
  }

  .category__2__show{
    color: white;
    display: block;
    position: fixed;
    left: 0;
    background-color: #1C2128;
    width: 40vw;
    height: 100%;
    top: 0;
    z-index: 100;
    transition: 0.3s;
  }

  .category__2 svg, .category__2 a{
    padding: 20px;
  }
}
