.base {
  display: flex;
  max-width: 800px;
}

.base_and_footer {
  display: flex;
  flex-direction: column;
}

.body {
  padding: 15px 25px;
}

.upper_body {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.lower_body {
  margin-top: 40px;
}

.title_and_photo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side_body {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px 15px;
  max-width: 200px;
}

.side_body_bottom {
  overflow-x: scroll;
  height: 550px;
  width: 20vw;
  margin-top: 15px;
}

p.side_title {
  color: #32c569;
}

.type {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  color: #32c569;
}

.link_to_site {
  text-decoration: none;
  color: #32c569;
  opacity: 1;
}

.link_to_site:hover {
  opacity: 0.5;
}

/* image stying */

.image {
  width: 100%;
  max-width: 500px;
  max-height: 350px;
  height: 100%;
  object-fit: cover;
  margin-top: auto;
}

@media (min-width: 721px) {
  .base {
    margin-left: 180px;
  }

  .upper_body {
    align-items: flex-start;
  }
}

@media (max-width: 720px) {
  .body {
    width: 90vw;
    margin: 0 auto;
  }

  .side_body {
    display: none;
  }
}

@media (max-width: 420px) {
  .body {
    margin-top: 50px;
  }
}
