/* General Styles */
.body {
  width: 70vw;
  margin: 0;
  padding: 10px 40px;
}

.loading {
  margin-bottom: 100vh;
  margin-top: 8px;
  color: rgb(70, 70, 70);
}

.loading p:first-child {
  font-size: large;
  font-weight: bold;
  color: #32c569;
}

.loading_text,
.loading_text_second {
  text-align: center;
  padding: 20px;
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(220, 220, 220, 0.5);
}

.loading_text_second {
  margin: calc(10% + 26.4px) auto;
}

.loading_text a,
.loading_text_second a {
  text-decoration: none;
  color: rgb(70, 70, 70);
  border-bottom: 1px solid;
}

.loading_text a:hover,
.loading_text_second a:hover {
  opacity: 0.5;
}

/* News Styles */

.news_top_right {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.news_top_right span {
  margin: 5px;
}

.news_top_right:hover {
  opacity: 0.5;
}

.news_top_title {
  font-size: 20px;
  font-weight: bold;
}

.news_top_wrapper {
  justify-content: space-between;
  display: flex;
  margin: 20px 0;
  height: 60vh;
  border-top: 2px solid rgb(240, 240, 240);
  padding-top: 20px;
}

.news_top_first {
  display: flex;
  flex-direction: column;
  max-width: 35vw;
  height: 100%;
}

.news_top_first img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 50%;
  margin-top: auto;
}

.news_top_first:hover {
  opacity: 0.7;
}

.news_top_first_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 5px;
  height: 50%;
  max-height: 50%;
}

.news_latest_description {
  max-width: 20vw;
  color: gray !important;
}

.news_Latest {
  border-top: 2px solid rgb(240, 240, 240);
  padding-top: 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.news_Latest:hover {
  opacity: 0.5;
}

.news_Latest_name_title_author {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

span.news_latest_title {
  font-weight: bold;
  margin: 10px 0;
}

.news_Latest img {
  width: 20vw;
  height: 100%;
  object-fit: cover;
}

.news_latest_author {
  width: 20vw;
}

/* Media Queries */
@media (max-width: 1060px) {
  .news_latest_description {
    display: none;
  }

  .body {
    width: 60vw;
    margin: 0 auto;
  }

  .news_Latest img {
    width: 27vw;
  }

  .news_top_wrapper_for_five_articles {
    overflow-x: scroll;
    max-width: 23vw;
  }

  .news_top_first {
    max-width: 27vw;
  }
}

@media (max-width: 720px) {
  .news_top_wrapper {
    display: flex;
    flex-direction: column;
  }

  .body {
    width: 80vw;
    margin: 0 auto;
  }

  .news_top_wrapper_for_five_articles {
    width: 80vw;
    max-width: 80vw;
  }

  .news_top_first {
    max-width: 80vw;
    margin-bottom: 40px;
  }

  .news_top_wrapper {
    height: 100%;
  }

  .news_Latest {
    flex-direction: column-reverse;
  }

  .news_Latest_name_title_author {
    width: 80vw;
  }

  .news_Latest img {
    width: 80vw;
    margin-bottom: 20px;
  }
}

@media (min-width: 720px) {
  .news_top_wrapper_for_five_articles {
    overflow-x: scroll;
    max-width: 27vw;
  }
}

/* Misc Styles and Coloring */
span.news_top_source_name,
span.news_top_first_bottom_source_name,
span.news_latest_source_name {
  color: #32c569;
}

.news_top_first_bottom_title {
  font-weight: bold;
}

.news_top_wrapper a,
.news_latest_container a {
  text-decoration: none;
}
