/* Base styles */
.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 2px solid rgb(240, 240, 240);
  padding-top: 20px;
  margin-bottom: 20px;
}

.body span {
  margin-right: 40px;
}

.attribute {
  text-decoration: none;
  color: #32c569;
}

.attribute:hover {
  color: rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
}

/* Media queries */
@media (max-width: 720px) {
  .body {
    flex-direction: column;
  }

  .body span {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
