/* Base Styles */
.body {
  background-color: white;
  color: black;
  padding: 10px 20px;
  width: 15vw;
}

.body h1 {
  margin-top: 10px;
}

.icon_and_message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_nav,
button.list,
button.list_2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.botton_icon_message {
  margin-top: 20px;
  font-weight: 900;
  white-space: nowrap;
  color: #fec005 !important;
}

.category,
.category_2_ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 10vh 0 0 0;
  text-align: center;
}

.category li,
.category_2_ul li {
  margin: 2vh 0;
  font-weight: 100;
}

.category li {
  opacity: 0.5;
}

button.list:hover,
button.list_2:hover {
  color: #32c569;
}

button.list_2 {
  color: white;
}

.attribute {
  display: inline-block;
  width: 100%;
  padding: 1px 6px;
  text-decoration: none;
  color: #32c569;
  font-size: 1.2rem !important;
  text-align: center;
}

.attribute:hover {
  color: #1c2128;
  opacity: 0.5;
}

.menu {
  display: none !important;
}

.category_2 {
  display: none;
}

/* Media Queries */
@media (max-width: 720px) {
  .body {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .category_1 {
    display: none;
  }

  .icon_and_message {
    justify-content: center;
  }

  .botton_icon_message {
    margin: 0;
  }

  .menu {
    display: block !important;
    position: absolute;
    left: 30px;
  }

  .menu_2 {
    position: absolute;
    left: 10px;
    top: 12px;
  }

  .category_2 {
    display: block;
    position: fixed;
    left: -3000px;
    width: 40vw;
    height: 100%;
    top: 0;
    z-index: 100;
    transition: 1.5s;
  }

  .category_2_show {
    color: white;
    display: block;
    position: fixed;
    left: 0;
    background-color: #1c2128;
    width: 40vw;
    height: 100%;
    top: 0;
    z-index: 100;
    transition: 0.3s;
  }

  .category_2 svg,
  .category_2 {
    padding: 20px;
  }

  .attribute_smaller_screen {
    margin: 2vh 0;
    padding: 1px 6px;
    text-decoration: none;
    color: #fec005;
    font-size: 1.2rem !important;
  }

  .attribute_smaller_screen:hover {
    color: white;
  }
}

@media (min-width: 721px) {
  .body {
    height: 100vw;
    left: 0;
    position: absolute;
  }
}
