.body *{
  margin: 0;
  padding: 0;
}

.body{
  display: flex;
  justify-content: center;
  font-family: Helvetica,Arial,sans-serif;
}

.body h1{
  font-size: 1.7rem;
  white-space: nowrap;
}

.body h1{
  display: inline-block;
  /* background: linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
  background: -webkit-linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%); */
  background: linear-gradient(45deg, #9cff8b 16%, #2BD2FF 57%, #2BFF88 90%);
  background: -webkit-linear-gradient(45deg, #9cff8b 16%, #2BD2FF 57%, #2BFF88 90%);

  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
}

/* @keyframes gradientEffect {
  from {background-position: left}
  to {background-position: right}
} */

.body a, .body span, .body p, .body a{
  font-size: 1.0rem;
}

.body li{
  font-size: 1.2rem;
}

.body p{
  color: black;
}

.body span{
  color: rgb(70, 70, 70);
}

.body li{
  color: rgb(70, 70, 70);
}

@media (max-width: 720px) {
  .body{
    flex-direction: column;
  }
}
